/*colors https://coolors.co/88498f-779fa1-e0cba8-ff6542-564154*/

#goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #f5efe4;
  border-radius: 10px;
}
