.form-control {
  margin: 1rem 0;
}

.form-control label {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.25rem;
  outline: none;
  border: none;
  margin-bottom: 0.5rem;
}

.form-control.invalid label {
  color: #ff6542;
}

.form-control.invalid input {
  border-color: red;
  background-color: #e7b1a5;
}
